.main-container {
    display: flex;
    flex-direction: column;    
    margin: 20px 30px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.select-brand-container {
    width: 300px;
}


.dropdown-container {
    width: 200px;    
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chart-container {
    display: flex;
    flex: row;
    flex-direction: column;
    margin-top: 80px;
}

.chart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.graph-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.figure-container {
    width: 75%;
}

.footer-container {
    display: flex;
    flex-direction: column;        
}

.forecast-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.forecast-button {
    width: 100px;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.update-data-btn-container {
    margin-top: 10px;
}

.update-data-btn {
    width: 100px;
    border : 1px solid green;
    color: green;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.update-data-btn:hover {    
    color: white;
    background-color: green;    
}